@import "../../style-guide";

.Button {
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: none;
  height: 32px;
  line-height: 32px;
  transition: 125ms;
  cursor: pointer;
  color: #fff;
  background-color: $color-blue;
  border-radius: 4px;
  font-size: $font-size-regular;
  display: block;
  width: 100%;
  white-space: nowrap;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 $offset-small;

  &:not(:disabled):not(.disabled) {
    &:hover,
    &:focus {
      background-color: darken($color-blue, 15%);

      &:active {
        background-color: $color-blue-light;
      }
    }
  }
}
