.Container{
  width: 450px;
  height: 400px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 10px;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  text-align: center;

  button {
    width: 160px;
    border: none;
    border-radius: 5px;
    display: block;
    margin: 25px auto 0;
  }

  a{
    margin-top: 45px;
    color: #27A9F8;
    font-size: 12px;
    font-weight: 200;
    text-decoration: none;
    text-align: center;

    transition: color 100ms;

    &:not(:active):hover{
      color: #268cd5;


    }
    &:hover:active{
      color: #1fc9ff;
    }
  }
}

.Content {
  width: 250px;
  margin: 0 auto;
  text-align: left;
}

.loginField {
  margin: 15px auto 0;
  width: 100%;
}