@import "../../style-guide";

.Input {
  height: 32px;
  line-height: 30px;
  padding: 0 0 0 $offset-small;
  outline: none;
  border-radius: 4px;
  color: $color-gray;
  border: 1px solid $color-gray;
  transition: color 125ms, border-color 125ms;
  display: block;
  width: 100%;
  font-size: $font-size-regular;

  &:disabled,
  &.disabled {
    border-color: $color-gray-light;
    color: $color-gray-light;
    cursor: default;
  }

  &:not(:disabled):not(.disabled) {
    &:hover {
      color: $color-gray-dark;
      border-color: $color-gray-dark;
    }

    &:hover:active,
    &:focus {
      color: $color-gray-dark;
      border-color: $color-blue-light;
    }
  }
}
