@import "../style-guide";

$HEADING_TYPE: 1 2 3 4 5 6;
$HEADING_SCHEME: (
  1: 48px $offset-large,
  2: 40px $offset-medium,
  3: 32px $offset-regular,
  4: 26px $offset-small,
  5: 20px $offset-small,
  6: 16px $offset-tiny
);

.Heading {
  @each $type in $HEADING_TYPE {
    @if map-has-key($HEADING_SCHEME, $type) {
      $scheme: map-get($HEADING_SCHEME, $type);
      $size: nth($scheme, 1);
      $offset: nth($scheme, 2);

      &-#{$type} {
        min-height: $size;
        line-height: $size;
        font-size: $size;
        margin: 0 0 $offset 0;
      }
    } @else {
      @error "Heading##{$type} scheme is missing"
    }
  }
}

.Label {
  display: block;
  margin: 0 0 $offset-tiny $offset-small;
  font-size: $font-size-tiny;
  color: $color-gray;
}
