.Item {
  display: block;
  color: #222222;
  background: #FFFFFF;
  height: 60px;
  width: 100%;
  line-height: 60px;
  padding-left: 36px;
  text-align: left;
  cursor: pointer;
  user-select: none;
  transition: 75ms;

  > .Icon {
    width: 24px;
    max-height: 24px;
    margin: 0 36px 0 0;
  }

  > .Icon,
  > span {
    display: inline-block;
    vertical-align: middle;
  }
}

.Item:not(:active):not(.active):hover {
  background: #f4f4f4;
}

.Item:hover:active,
.Item.active {
  background: #eee;
}