$offset-large: 75px;
$offset-medium: 50px;
$offset-regular: 25px;
$offset-small: 15px;
$offset-tiny: 10px;

$color-blue-light: #27A9F8;
$color-blue: #0B7BFF;
$color-red-light: #E01616;
$color-gray: #878787;
$color-gray: #878787;
$color-gray-light: #BFBFBF;
$color-gray-dark: #616161;

$font-size-regular: 15px;
$font-size-small: 14px;
$font-size-tiny: 12px;
